Test1/Untitled31.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sise.com/Employee" targetNamespace="http://www.sise.com/Employee">
<xs:complexType name="addressType">
<xs:sequence>
<xs:element name="city" type="xs:token" />
<xs:element name="street" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>