Test1/Untitled11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:group name="软件工程专业">
<xs:sequence>
<xs:element name="数据结构" />
<xs:element name="数据库系统原理" />
</xs:sequence>
</xs:group>
<xs:group name="数码媒体专业">
<xs:sequence>
<xs:element name="多媒体技术" />
</xs:sequence>
</xs:group>
<xs:element name="辅修专业">
<xs:complexType>
<xs:all minOccurs="1">
<xs:element name="软件系">
<xs:complexType>
<xs:group ref="软件工程专业"/></xs:complexType>
</xs:element>
<xs:element name="数码系">
<xs:complexType>
<xs:group ref="数码媒体专业"/>
</xs:complexType>
</xs:element>
</xs:all>
</xs:complexType>
</xs:element>
</xs:schema>