week4/myclassmate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="我的通讯录">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="同学" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="地址" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="姓名" type="xs:string" use="required"/>
						<xs:attribute name="年龄" type="xs:unsignedInt" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
